--- 
layout: scoreboard
title: Scoreboard
tags: 
- projectaweek
- development
- spartaaaaa
description: Current results
results:
  participants:
    dons:
      name: Don Stewart
      twitter: @donsbot
      homepage: 
    mwotton:
      name: Mark Wotton
    jfredett:
      name: Joe Fredett
      twitter: jfredett
      homepage:
  weeks:
  - deadline: 10-5-2011
    participants:
      mwotton: http://shimweasel.com
  - deadline: 17-5-2011
    participants:
      dons: http://www.haskell.org/haskellwiki/Numeric_Haskell:_A_Repa_Tutorial
      jfredett: https://github.com/jfredett/bash/tree/master/lockbox
      mwotton: http://lambdamechanic.com
---
%h1 How're we going so far?
%table
  %tr
    %td
      - raise methods.sort.to_s
      - results['participants'].each do |player, details|
        %td= player
  - results['weeks'].each do |week|
    %tr
      %td= week['deadline']
      - results['participants'].each do |player, details|
        %td= week['participants'][player] ? details : "Uh-oh"



